body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  height: 70px;
  padding-bottom: 80px;
}

.img-logo {
  float: left;
}

.container {
  display: grid;
  float: right;
  width: 40%;
}
.order-table {
  grid-area: 1 / 1;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: black;
  color: white;
}

tbody {
  background-color: lightblue;
  text-align: right;
}

td,
th {
  border: 0.5px solid grey;
  border-spacing: 0px;
}

.total {
  z-index: 1;
  grid-area: 1 / 1;
  top: 0;
  margin-left: 25%;
  width: fit-content;
  height: fit-content;
  border: 0.5px solid grey;
  padding: 0;
  font-size: 48px;
}

.total h1 {
  padding: 5px;
  margin: 0;
}

.total-title {
  padding: 15px;
  color: white;
  background-color: black;
  font-size: 36px;
}

.chart {
  width: 60%;
}
